[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
numba = "*"
geotorch = "*"
pytest = "*"
camelcase = "*"
tqdm = "*"
netrep = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
