asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
cycler==0.11.0
decorator==5.1.1
executing==0.8.3
fonttools==4.33.3
iniconfig==1.1.1
ipython==8.4.0
jedi==0.18.1
joblib==1.1.0
kiwisolver==1.4.3
matplotlib==3.5.2
matplotlib-inline==0.1.3
-e git+https://github.com/ahwillia/netrep@d7befa3098080af8ce49bc92c66cc564576d55de#egg=netrep
numpy==1.22.4
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pluggy==1.0.0
prompt-toolkit==3.0.29
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
stack-data==0.2.0
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.64.0
traitlets==5.2.2.post1
wcwidth==0.2.5
